.outSide {
    margin: auto;
    background-color: hsl(26, 59%, 60%);
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sun > img {
    width: 95px;
  }
  .heading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .heading > span {
    padding: 5px;
    font-family: sansation;
    font-size: 32px;
    color: #e60c0c;
    font-weight: 700;
  }
  .heading > img {
    width: 27px;
    height: 29px;
  }
  .pageIndicator {
    padding: 10px;
    margin: auto;
    display: flex;
    width: 90px;
    justify-content: space-between;
  }
  .div1 {
    background-color: #e60c0c;
  }
  .pageIndicator > div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #e60c0c;
  }
  .pageIndicator > div:hover {
    background-color: #e60c0c;
  }